{% extends "music_layout.html" %}


{% block title %}
    Tuner
{% endblock %}

{% block nav %}
<img src="static/piano-icon.png" alt="Piano Icon" style="width:72px;height:72px;">
{% endblock %}

{% block main %}
<main>
    <div class="container px-4 py-5 text-center">
        <div class="align-items-center py-5">
            <div class="card">
              <div class="card-body">
                This is a tool to tune guitar strings. You can also sing to find the pitch too I guess.
              </div>
            </div>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="note" data-string="82" id="lowE" autocomplete="off">
              <label class="btn btn-outline-primary" for="lowE">E</label>

              <input type="radio" class="btn-check" name="note" data-string="110" id="A" autocomplete="off">
              <label class="btn btn-outline-primary" for="A">A</label>

              <input type="radio" class="btn-check" name="note" data-string="147" id="D" autocomplete="off">
              <label class="btn btn-outline-primary" for="D">D</label>

                <input type="radio" class="btn-check" name="note" data-string="196" id="G" autocomplete="off">
              <label class="btn btn-outline-primary" for="G">G</label>

              <input type="radio" class="btn-check" name="note" data-string="246" id="B" autocomplete="off">
              <label class="btn btn-outline-primary" for="B">B</label>

              <input type="radio" class="btn-check" name="note" data-string="330" id="highE" autocomplete="off">
              <label class="btn btn-outline-primary" for="highE">e</label>
            </div>
        </div>

        <select class="custom-select my-1 mr-sm-2" id="devices" name="devices">
              <option selected>Devices</option>
        </select>

        <p id="recording"></p>

        <div>
            <span id="pitch-label" class="label">Pitch: </span>
            <span id="pitch" aria-labelledby="pitch-label">0 Hz</span>
        </div>
        <p id="adjustString"></p>
        <div class="custom-progress-bar">
            <div class="progress-fill"></div>
        </div>

        <div>
            <span id="targetPitch-Label" class="label">Target: </span>
            <span id="targetPitch" aria-labelledby="target-label">0 Hz</span>
        </div>

        <div>
            <button id="resetMic" class="btn btn-outline-primary" type="button">Reset Mic</button>
        </div>



        <div class="toast" id="tipToast" role="alert" aria-live="assertive" aria-atomic="true" style="z-index:10; position:absolute; left:50%;">
          <div class="toast-header">
            <strong class="me-auto">Tip!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            <p class="fw-normal">If the pitch deviates excessively from the target pitch, try putting the Mic closer. Reducing any background noises may also help.</p>
          </div>
        </div>

    </div>
</main>
<script src="https://cdn.jsdelivr.net/gh/foobar404/wave.js/dist/bundle.js"></script>
<script type="module" src="{{ url_for('static', filename='pitch.js') }}"></script>


{% endblock %}